body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    font-family: "Trebuchet MS";
}


.interface_panels
{
    padding: 0px;
    margin-left: 10px;
    position: relative;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#overall_container
{
    background-image: url('darkweb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding: 20px;
    background-color: gray;
    font-family: "Trebuchet MS";
    font-size: 24px;
}

.blur {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0px); /* Adjust the blur amount as needed */
}

.headerTitle {
    color: #20C20E;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Eater', serif;
    font-weight: bolder;
    padding: 20px;
}

#playground
{   
    width: 100%;
    /* height: 91.5vh; */
    overflow-x: hidden;
    overflow-y: hidden;
}

#search-panel {
    margin: 30px;
}

#search-bar-form {
    display: flex;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    justify-items: center;
}


#search-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
    vertical-align: middle;
    justify-items: center;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
  }
  
  .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
  }
  
  .checkbox label input[type="checkbox"] {
    display: none;
  }
  
  .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
  }
  
  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
  }
  
  .checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
  }

.checkboxPanel {
    padding-left: 60px;
    margin: 20px;
    color: #20C20E;
}

.checkboxPanelHeader {
    color: #20C20E;
    padding: 20px;
}

#resultsTableContainer {
  color: #20C20E;
}

.btn-outline-success {
  color: #20C20E;
  --bs-btn-hover-bg: #20C20E;
  --bs-btn-border-color: #20C20E;
  --bs-btn-hover-border-color: #20C20E;
}

#search-bar {
  background-color: black;
  color:#20C20E;
}